@import "tailwindcss";

* {
  user-select: none;
  -webkit-user-select: none; /* Safari, Chrome, Opera */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  -webkit-touch-callout: none;
}